Linkedin + RemoteOK Job Search.json
{
  "name": "Linkedin + RemoteOK Job Search",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "id": "50b152b4-e17a-4fbb-92a2-ee35285fec60",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        336,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "ce8717fb-641d-4154-8f6f-773254aba338",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        864,
        480
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $('Parse AI Response').item.json.score }}",
              "rightValue": 50
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c58506dd-269f-4091-bf19-314bba0b5817",
      "name": "Score Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        3280,
        128
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.param;\nconst params = JSON.parse(raw);\n\nlet url = \"https://www.linkedin.com/jobs/search/?\"\n\nconst keyword = params.Keyword\nconst location =  params.Location\nconst experienceLevel = params['Experience Level']\nconst remote = params.Remote\nconst jobType = params['Job Type']\nconst easyApply = params['Easy Apply']\nconst lastPosted = params['Last Posted']\n\nif (lastPosted != \"\") {\n  url += `f_TPR=${lastPosted}`;\n}\n\nif (keyword != \"\") {\n  url += `&keywords=${keyword}`;\n}\n\nif (location != \"\") {\n  url += `&location=${location}`;\n}\n\nif (experienceLevel !== \"\") {\n  // we have experienceLevel as a string with values like \"Internship, Entry level\"\n  // we  transform it to \"1,2,3\" where:\n  // Internship -> 1\n  // Entry level -> 2\n  // Associate -> 3\n  // Mid-Senior level -> 4\n  // Director -> 5\n  // Executive -> 6\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\":\n          return \"1\";\n        case \"Entry level\":\n          return \"2\";\n        case \"Associate\":\n          return \"3\";\n        case \"Mid-Senior level\":\n          return \"4\";\n        case \"Director\":\n          return \"5\";\n        case \"Executive\":\n          return \"6\";\n        default:\n          return \"\";\n      }\n    })\n    .filter(Boolean); // filter out any empty strings\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\nif (remote.length != \"\") {\n  // we have remote as a string with values like \"Remote, Hybrid\"\n  // we transform it to \"2,3,1\" where:\n  // On-Site -> 1\n  // Remote -> 2\n  // Hybrid -> 3\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\":\n          return \"2\";\n        case \"Hybrid\":\n          return \"3\";\n        case \"On-Site\":\n          return \"1\";\n        default:\n          return \"\";\n      }\n    })\n    .filter(Boolean); // filter out any empty strings\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (jobType != \"\") {\n  // we have jobType as a string with values like \"Full-time, Part-time\"\n  // we transform it to \"F,P\" where:\n  // Full-time -> F\n  // Part-time -> P\n  // Contract -> C\n  // Temporary -> T\n  // Other -> O\n  // Internship -> I\n  const transformedJobType = jobType.split(\",\").map((type) => type.trim().charAt(0).toUpperCase());\n  url += `&f_JT=${transformedJobType.join(\",\")}`;\n}\n\nif (easyApply != \"\") {\n  url += \"&f_EA=true\";\n}\n\nreturn {url}"
      },
      "id": "7d07b3ac-d93e-4e0d-bad3-11269f0f2438",
      "name": "Create search URL",
      "type": "n8n-nodes-base.code",
      "position": [
        -336,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "49170e9f-54b0-4a66-9b7e-dbd065d43166",
      "name": "Fetch Jobs from Linkedin",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -112,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "id": "7c9263b5-81e8-4665-932c-981ffd5962da",
      "name": "Fetch Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        480
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            }
          ]
        },
        "options": {}
      },
      "id": "8e8bb302-7e80-4dd9-87bc-39e1c12cfe1e",
      "name": "Parse Job Attributes",
      "type": "n8n-nodes-base.html",
      "position": [
        1312,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "784ead57-9d83-4e08-b83c-23fa165bf045",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}"
            },
            {
              "id": "fd3c9d2c-5ff9-46a7-b70a-f990fbc7da9d",
              "name": "jobid",
              "type": "string",
              "value": "={{ $json.jobid.split(\":\").last() }}"
            },
            {
              "id": "27a20cd2-ab0d-42b7-9cee-ea64e0e26ea3",
              "name": "applyLink",
              "type": "string",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }} "
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3e04bf83-698a-4031-812b-c0e56c55a8ef",
      "name": "Modify Job Attributes",
      "type": "n8n-nodes-base.set",
      "position": [
        1536,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li a.base-card__full-link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "4216d4a9-2474-422c-af77-1a028b7cead5",
      "name": "Extract Job Links",
      "type": "n8n-nodes-base.html",
      "position": [
        112,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "http://python-api:8001/cv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3696,
        256
      ],
      "id": "96bcd4ce-f73e-48dc-922f-7529e67ccd91",
      "name": "Read CV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/db/init",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3472,
        256
      ],
      "id": "00fbcf64-db07-4f11-8dd4-8f6e01bf9bab",
      "name": "Init Sqlite DB"
    },
    {
      "parameters": {
        "value": "={{ $('Read CV').first().json.cv }}",
        "dataPropertyName": "cv_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        -3248,
        256
      ],
      "id": "e06664bd-9317-4bc7-9ef1-942ac8027faa",
      "name": "Hash The CV"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cv_hash: $input.first().json.cv_hash,\n    cv_text: $('Read CV').first().json.cv\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3024,
        256
      ],
      "id": "32da9c31-6340-4c59-a0b7-7861518ff4e9",
      "name": "Collect CV+HASH"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "SELECT cv_hash, keywords FROM cv_keywords WHERE id = 1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2800,
        256
      ],
      "id": "c7c426c8-b359-48d2-8e2d-64a7c2af2724",
      "name": "Check Existing CV in DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "347e0f5e-579f-48ec-9d10-516fb8bb0c53",
              "leftValue": "={{ $input.first().json.rows.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "616e2f54-2a1b-4254-969b-a488b6217fba",
              "leftValue": "={{ $input.first().json.rows[0].cv_hash }}",
              "rightValue": "={{ $('Collect CV+HASH').first().json.cv_hash }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2576,
        256
      ],
      "id": "53af36b7-6c4d-48ae-8de4-ea3e5718c7be",
      "name": "If CV Changed ?"
    },
    {
      "parameters": {
        "jsCode": "const cvText = $('Collect CV+HASH').first().json.cv_text;\nconst promptTemplate = $('Read Keywords Prompt').first().json.param;\n\nconst prompt = `${promptTemplate}\n\nCV:\n${cvText}`;\n\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        192
      ],
      "id": "021e61e8-666d-4479-8b4f-ac863547c5b7",
      "name": "Build Groq Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"GROQ_API_KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "=messages",
              "value": "={{ [{\"role\":\"system\",\"content\":\"You are a technical recruiter with expertise in software engineering hiring. Always respond with valid JSON only.\"},{\"role\":\"user\",\"content\":$('Build Groq Prompt').first().json.prompt}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1904,
        192
      ],
      "id": "cbf14e42-4a4c-484c-a38e-d5ad526f0468",
      "name": "Generate Keywords with Groq"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/param/llm_keywords_extract",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2352,
        192
      ],
      "id": "27d74c11-c2fe-4569-932a-34f20e179e10",
      "name": "Read Keywords Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "INSERT OR REPLACE INTO cv_keywords (id, cv_hash, keywords) VALUES (1, ?, ?)"
            },
            {
              "name": "params",
              "value": "={{ [$('Collect CV+HASH').first().json.cv_hash, $('Parse Keywords').first().json.keywords_str] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1456,
        192
      ],
      "id": "40780562-8db9-44f0-9cf3-c548a1979d31",
      "name": "Save Keywords to DB"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst keywords = JSON.parse(content);\n\nreturn [{ \n  json: { \n    keywords,\n    keywords_str: JSON.stringify(keywords)\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        192
      ],
      "id": "293ea444-c98c-46c3-ae47-59556fefe6c0",
      "name": "Parse Keywords"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "SELECT keywords FROM cv_keywords WHERE id = 1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1008,
        256
      ],
      "id": "61d30ae8-ab78-47b2-b554-5172cdc901b4",
      "name": "Get Saved Keywords"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json.rows[0];\nconst keywords = JSON.parse(row.keywords);\n\nreturn [{\n  json: {\n    keywords,\n    keywords_str: row.keywords\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        256
      ],
      "id": "1278a09b-f115-42a5-bd31-afc14b2c55a5",
      "name": "Extract Keywords"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1232,
        256
      ],
      "id": "ddcc9680-4798-4520-b720-25a6003a6429",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/param/linkedin_keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        256
      ],
      "id": "93f3f44e-ada2-4d71-8fbc-34c45814479d",
      "name": "Read Keywords Prompt1"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "253e5668-2d08-49e8-8b58-30da063167e5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        560,
        480
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_URL }}",
          "mode": "url"
        },
        "title": "=Fetch NO. {{ $('Schedule Trigger').item.json['Readable date'] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $('Loop Over Items2').item.json.title }}"
            },
            {
              "key": "Score|number",
              "numberValue": "={{ $('Parse AI Response').item.json.score }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ $('Loop Over Items2').item.json.applylink }}"
            },
            {
              "key": "Date|date",
              "date": "={{ $('Schedule Trigger').item.json.timestamp }}"
            },
            {
              "key": "Cover Letter|rich_text",
              "textContent": "={{ $('Parse AI Response').item.json.coverLetter }}"
            },
            {
              "key": "Website|rich_text",
              "textContent": "={{ $('Loop Over Items2').item.json.website }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3504,
        192
      ],
      "id": "b2f3aa38-45a2-4b17-8fe1-b6f654849789",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "9PknBjmF6BGHvFNE",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3920,
        256
      ],
      "id": "1b3124d3-0119-4b71-8421-0abc3e695b70",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e86279f-34fa-4b86-990e-a21f3a1172da",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1904,
        496
      ],
      "id": "1857419a-270a-4253-90bd-47146e887fc4",
      "name": "If"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/job/exists",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jobid",
              "value": "=linkedin_{{ $json.jobid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        480
      ],
      "id": "fb0540aa-c6ab-4041-918b-81cfbd627d4f",
      "name": "Check if job in DB"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"GROQ_API_KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "=messages",
              "value": "={{ [{\"role\":\"system\",\"content\":\"You are an expert job matcher. Today: \" + $('Schedule Trigger').item.json['Readable date'] + \".\\n\\nGiven a resume and job description:\\n1. Extract candidate's total years of professional experience using today's date\\n2. Extract required years from job description\\n3. Compare required vs actual: skills and experience\\n4. Score 0-100 using these STRICT rules:\\n\\nEXPERIENCE GATE (absolute, checked first):\\n- If candidate has 3 or more fewer years than required: score=0, coverLetter=\\\"\\\", stop here\\n- If candidate has 1-2 fewer years than required: small penalty only\\n- Meets or exceeds: no penalty\\n\\nSKILLS SCORING (only if gate passed):\\n- Each required skill present: positive\\n- Each required skill missing: negative\\n- Nice-to-have skills present: small bonus\\n\\n5. If score>50, write a 2-paragraph professional cover letter (no name/address/signature). The cover letter MUST be strictly less than 1900 characters total. Otherwise coverLetter=\\\"\\\"\\n\\nRESPOND WITH RAW JSON ONLY. No markdown, no code blocks, no explanation, no newlines inside strings.\\nFormat: {\\\"score\\\":<number>,\\\"coverLetter\\\":\\\"<string>\\\"}\\nIf job description is empty/invalid: {\\\"score\\\":0,\\\"coverLetter\\\":\\\"\\\"}\"},{\"role\":\"user\",\"content\":\"Job Description:\\n\" + $json.description + \"\\n\\nResume:\\n\" + $('Collect CV+HASH').item.json.cv_text}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2608,
        48
      ],
      "id": "b4e70914-ba57-44ee-8573-41e3a28e7c8e",
      "name": "GROQ: Scoring + Cover Letter"
    },
    {
      "parameters": {
        "url": "https://remoteok.com/api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        16
      ],
      "id": "edf8adf7-9c8f-42eb-af32-e95695d1aee3",
      "name": "Fetch RemoteOK Jobs"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst jobs = Array.isArray(items) ? items.slice(1) : [];\nconst keywords = $('Extract Keywords').first()?.json?.keywords;\n\nfunction wordPattern(term) {\n  const escaped = term.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  return new RegExp(`(?:^|[\\\\s,;/()\\\\[\\\\]|•·–—-])${escaped}(?:$|[\\\\s,;/()\\\\[\\\\]|•·–—-])`, 'i');\n}\n\nconst titlePatterns   = keywords.titles.map(t => wordPattern(t));\nconst skillPatterns   = keywords.skills.map(s => wordPattern(s));\n\nfunction cleanDescription(html) {\n  if (!html) return '';\n  return html\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#\\d+;/g, ' ')\n    .replace(/&\\w+;/g, ' ')\n    .replace(/Â/g, '')\n    .replace(/Please mention the word.*$/s, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst TITLE_BONUS = 10;\nconst SKILL_POINTS = 3;\nconst MIN_SCORE = 6;\n\nconst scored = jobs.map(job => {\n  const title = job.json.position ?? '';\n  const desc = cleanDescription(job.json.description ?? job.json.tags?.join(', ') ?? '');\n  const fullText = `${title} ${desc}`;\n\n  let score = 0;\n  const matched = [];\n\n  if (titlePatterns.some(re => re.test(fullText))) score += TITLE_BONUS;\n\n  for (let i = 0; i < skillPatterns.length; i++) {\n    if (skillPatterns[i].test(fullText)) {\n      score += SKILL_POINTS;\n      matched.push(keywords.skills[i]);\n    }\n  }\n\n  return { job, score, matched };\n});\n\nconst filtered = scored\n  .filter(s => s.score >= MIN_SCORE)\n  .sort((a, b) => b.score - a.score);\n\nreturn filtered.map(({ job, score, matched }) => ({\n  json: {\n    jobid: job.json.id,\n    title: job.json.position,\n    company: job.json.company,\n    location: \"Remote\",\n    applyLink: job.json.url,\n    description: cleanDescription(job.json.description ?? job.json.tags?.join(', ') ?? ''),\n    source: 'remoteok',\n    _score: score,\n    _matched: matched\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        16
      ],
      "id": "ad01c904-d8a5-475e-85f8-c4ebcfd127a1",
      "name": "Fillter Jobs",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "27a3d3cf-2804-48d2-ae3a-81e9c8f94cf7",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        592,
        64
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e86279f-34fa-4b86-990e-a21f3a1172da",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        144
      ],
      "id": "a4f101ad-2e42-4cf5-bf5e-cd92b55f8415",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=http://python-api:8001/job/exists",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jobid",
              "value": "=remoteok_{{ $json.jobid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        128
      ],
      "id": "17e204e1-3c9d-4772-bd71-4914387833a4",
      "name": "Check if job in DB1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/job/pending",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=remoteok_{{ $('Loop Over Items1').item.json.jobid }}"
            },
            {
              "name": "title",
              "value": "={{ $('Loop Over Items1').item.json.title }}"
            },
            {
              "name": "company",
              "value": "={{ $('Loop Over Items1').item.json.company }}"
            },
            {
              "name": "location",
              "value": "={{ $('Loop Over Items1').item.json.location }}"
            },
            {
              "name": "applylink",
              "value": "={{ $('Loop Over Items1').item.json.applyLink }}"
            },
            {
              "name": "description",
              "value": "={{ $('Loop Over Items1').item.json.description }}"
            },
            {
              "name": "website",
              "value": "RemoteOK"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1296,
        192
      ],
      "id": "0b752c85-8f69-4dec-b8c5-43c1194ae2d5",
      "name": "Add Job to DB1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/job/pending",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=linkedin_{{ $('Modify Job Attributes').item.json.jobid }}"
            },
            {
              "name": "title",
              "value": "={{ $('Modify Job Attributes').item.json.title }}"
            },
            {
              "name": "company",
              "value": "={{ $('Modify Job Attributes').item.json.company }}"
            },
            {
              "name": "location",
              "value": "={{ $('Modify Job Attributes').item.json.location }}"
            },
            {
              "name": "applylink",
              "value": "={{ $('Modify Job Attributes').item.json.applyLink }}"
            },
            {
              "name": "description",
              "value": "={{ $('Modify Job Attributes').item.json.description }}"
            },
            {
              "name": "website",
              "value": "LinkedIn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        544
      ],
      "id": "9a880cad-ece0-4a1e-a158-b25f2fbf57fa",
      "name": "Add Job to DB2"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        32
      ],
      "id": "eddf103a-4e7a-4fbf-b460-de4b4fcf2b34",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "SELECT * FROM pending_jobs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1728,
        32
      ],
      "id": "1a8f8f70-cf65-4ea7-a57d-7dc3c8ee81eb",
      "name": "Get Pending Jobs"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rows",
        "options": {}
      },
      "id": "45be7328-9a06-4af2-b32d-fb0e288bd9db",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1952,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "fdf19a8f-df55-455f-a595-ad33d778143c",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2144,
        32
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/job/complete",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jobid",
              "value": "={{ $('Loop Over Items2').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3056,
        48
      ],
      "id": "c1fa7fa3-fbb6-4ec1-8c19-2822697d442a",
      "name": "Add to Seen Jobs Table"
    },
    {
      "parameters": {
        "jsCode": "// Strip markdown code blocks if present\nconst raw = $input.first().json.choices[0].message.content\n  .replace(/^```json\\n?/, '')\n  .replace(/^```\\n?/, '')\n  .replace(/```$/, '')\n  .trim();\n\n// Remove control characters before parsing\nconst cleaned = raw.replace(/[\\x00-\\x1F\\x7F]/g, (char) => {\n  if (char === '\\n') return '\\\\n';\n  if (char === '\\r') return '\\\\r';\n  if (char === '\\t') return '\\\\t';\n  return '';\n});\n\nconst parsed = JSON.parse(cleaned);\n\nreturn {\n  score: parsed.score,\n  coverLetter: parsed.coverLetter\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        48
      ],
      "id": "d60226fd-d0c6-4f85-b3db-adc49a59a9f1",
      "name": "Parse AI Response"
    },
    {
      "parameters": {},
      "id": "39c409d9-3b3c-40b0-a166-68e11b940e38",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        2384,
        48
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ID }}",
        "text": "=Jobs are ready and scored at {{ $env.NOTION_DB_URL }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2608,
        -144
      ],
      "id": "56ddad98-3dfb-4ba6-9be1-eed6c2b2c7c4",
      "name": "Send a text message",
      "webhookId": "73e91537-234f-4d9d-bae7-5e0e9a053262",
      "credentials": {
        "telegramApi": {
          "id": "8zpim5pMCfhjpg8H",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2384,
        -144
      ],
      "id": "846f561a-e6d2-41b4-8d71-88a8ca521ef5",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Filter": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Page": {
      "main": [
        [
          {
            "node": "Parse Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create search URL": {
      "main": [
        [
          {
            "node": "Fetch Jobs from Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Links": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Attributes": {
      "main": [
        [
          {
            "node": "Modify Job Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modify Job Attributes": {
      "main": [
        [
          {
            "node": "Check if job in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from Linkedin": {
      "main": [
        [
          {
            "node": "Extract Job Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CV": {
      "main": [
        [
          {
            "node": "Init Sqlite DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Sqlite DB": {
      "main": [
        [
          {
            "node": "Hash The CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash The CV": {
      "main": [
        [
          {
            "node": "Collect CV+HASH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect CV+HASH": {
      "main": [
        [
          {
            "node": "Check Existing CV in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing CV in DB": {
      "main": [
        [
          {
            "node": "If CV Changed ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CV Changed ?": {
      "main": [
        [
          {
            "node": "Read Keywords Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Groq Prompt": {
      "main": [
        [
          {
            "node": "Generate Keywords with Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Keywords with Groq": {
      "main": [
        [
          {
            "node": "Parse Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Keywords Prompt": {
      "main": [
        [
          {
            "node": "Build Groq Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Keywords to DB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Keywords": {
      "main": [
        [
          {
            "node": "Save Keywords to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saved Keywords": {
      "main": [
        [
          {
            "node": "Extract Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keywords": {
      "main": [
        [
          {
            "node": "Read Keywords Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Saved Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Keywords Prompt1": {
      "main": [
        [
          {
            "node": "Create search URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RemoteOK Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add Job to DB2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if job in DB": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GROQ: Scoring + Cover Letter": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RemoteOK Jobs": {
      "main": [
        [
          {
            "node": "Fillter Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fillter Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if job in DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Add Job to DB1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if job in DB1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Job to DB1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Job to DB2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Get Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Jobs": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Seen Jobs Table": {
      "main": [
        [
          {
            "node": "Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Add to Seen Jobs Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "GROQ: Scoring + Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2e0df829-dc72-4e4d-8f66-afae9a78b668",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f07661684dfc4d1e6e6b7510d0c2f6c7ed427caa9513d3f8978a8a16bf5ddf9"
  },
  "id": "o4amlq7ljPVLNNWA",
  "tags": []
}