workflows/Scraping Main Workflow.json
{
  "name": "Scraping Main Workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $('Parse AI Response').item.json.score }}",
              "rightValue": "={{ $env.FILTERING_SCORE }}"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c58506dd-269f-4091-bf19-314bba0b5817",
      "name": "Score Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        672,
        720
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "http://python-api:8001/api/cv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3424,
        688
      ],
      "id": "96bcd4ce-f73e-48dc-922f-7529e67ccd91",
      "name": "Read CV"
    },
    {
      "parameters": {
        "value": "={{ $('Read CV').first().json.cv_text }}",
        "dataPropertyName": "cv_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        -3200,
        688
      ],
      "id": "e06664bd-9317-4bc7-9ef1-942ac8027faa",
      "name": "Hash The CV"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cv_hash: $input.first().json.cv_hash,\n    cv_text: $('Read CV').first().json.cv_text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2976,
        688
      ],
      "id": "32da9c31-6340-4c59-a0b7-7861518ff4e9",
      "name": "Collect CV+HASH"
    },
    {
      "parameters": {
        "url": "=http://python-api:8001/api/cv/check/{{ $json.cv_hash }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2752,
        688
      ],
      "id": "c7c426c8-b359-48d2-8e2d-64a7c2af2724",
      "name": "Check Existing CV in DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "347e0f5e-579f-48ec-9d10-516fb8bb0c53",
              "leftValue": "={{ $json.exists}}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2528,
        688
      ],
      "id": "53af36b7-6c4d-48ae-8de4-ea3e5718c7be",
      "name": "If CV Changed ?"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/api/params/llm_keywords_extract",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2304,
        608
      ],
      "id": "27d74c11-c2fe-4569-932a-34f20e179e10",
      "name": "Read Keywords Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/api/cv/keywords",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "INSERT OR REPLACE INTO cv_keywords (id, cv_hash, keywords) VALUES (1, ?, ?)"
            },
            {
              "name": "cv_hash",
              "value": "={{ $('Collect CV+HASH').first().json.cv_hash }}"
            },
            {
              "name": "keywords",
              "value": "={{ $('Parse Keywords').first().json.keywords_str }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1408,
        608
      ],
      "id": "40780562-8db9-44f0-9cf3-c548a1979d31",
      "name": "Save Keywords to DB"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst keywords = JSON.parse(content);\n\nreturn [{ \n  json: { \n    keywords,\n    keywords_str: JSON.stringify(keywords)\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        608
      ],
      "id": "293ea444-c98c-46c3-ae47-59556fefe6c0",
      "name": "Parse Keywords"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/api/cv/keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1232,
        704
      ],
      "id": "61d30ae8-ab78-47b2-b554-5172cdc901b4",
      "name": "Get Saved Keywords"
    },
    {
      "parameters": {
        "jsCode": "const row =$input.first().json.keywords ;\nconst keywords = JSON.parse(row);\n\nreturn [{\n  json: {\n    keywords,\n    keywords_str: row\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        704
      ],
      "id": "1278a09b-f115-42a5-bd31-afc14b2c55a5",
      "name": "Extract Keywords"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3648,
        688
      ],
      "id": "1b3124d3-0119-4b71-8421-0abc3e695b70",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -624,
        704
      ],
      "id": "eddf103a-4e7a-4fbf-b460-de4b4fcf2b34",
      "name": "Merge2"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/api/jobs/pending",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        704
      ],
      "id": "1a8f8f70-cf65-4ea7-a57d-7dc3c8ee81eb",
      "name": "Get Pending Jobs"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rows",
        "options": {}
      },
      "id": "45be7328-9a06-4af2-b32d-fb0e288bd9db",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -320,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "fdf19a8f-df55-455f-a595-ad33d778143c",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -128,
        704
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Strip markdown code blocks if present\nconst raw = $input.first().json.choices[0].message.content\n  .replace(/^```json\\n?/, '')\n  .replace(/^```\\n?/, '')\n  .replace(/```$/, '')\n  .trim();\n\n// Remove control characters before parsing\nconst cleaned = raw.replace(/[\\x00-\\x1F\\x7F]/g, (char) => {\n  if (char === '\\n') return '\\\\n';\n  if (char === '\\r') return '\\\\r';\n  if (char === '\\t') return '\\\\t';\n  return '';\n});\n\nconst parsed = JSON.parse(cleaned);\n\nreturn {\n  score: parsed.score,\n  coverLetter: parsed.coverLetter\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        720
      ],
      "id": "d60226fd-d0c6-4f85-b3db-adc49a59a9f1",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "39c409d9-3b3c-40b0-a166-68e11b940e38",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        112,
        720
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ID }}",
        "text": "=Jobs are ready and scored at {{ $env.NOTION_DB_URL }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        464
      ],
      "id": "56ddad98-3dfb-4ba6-9be1-eed6c2b2c7c4",
      "name": "Send a text message",
      "webhookId": "73e91537-234f-4d9d-bae7-5e0e9a053262",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "8zpim5pMCfhjpg8H",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.LLM_MODEL }}"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "=messages",
              "value": "={{ [{\"role\":\"system\",\"content\":\"You are an expert job matcher. Today: \" + $('Schedule Trigger').item.json['Readable date'] + \".\\n\\nGiven a resume and job description:\\n1. Extract candidate's total years of professional experience using today's date\\n2. Extract required years from job description\\n3. Compare required vs actual: skills and experience\\n4. Score 0-100 using these STRICT rules:\\n\\nEXPERIENCE GATE (absolute, checked first):\\n- If candidate has 3 or more fewer years than required: score=0, coverLetter=\\\"\\\", stop here\\n- If candidate has 1-2 fewer years than required: small penalty only\\n- Meets or exceeds: no penalty\\n\\nSKILLS SCORING (only if gate passed):\\n- Each required skill present: positive\\n- Each required skill missing: negative\\n- Nice-to-have skills present: small bonus\\n\\n5. If score>\" + $env.FILTERING_SCORE + \", write a 2-paragraph professional cover letter (no name/address/signature). The cover letter MUST be strictly less than 1900 characters total and in ENGLISH. Otherwise coverLetter=\\\"\\\"\\n\\nRESPOND WITH RAW JSON ONLY. No markdown, no code blocks, no explanation, no newlines inside strings.\\nFormat: {\\\"score\\\":<number>,\\\"coverLetter\\\":\\\"<string>\\\"}\\nIf job description is empty/invalid: {\\\"score\\\":0,\\\"coverLetter\\\":\\\"\\\"}\"},{\"role\":\"user\",\"content\":\"Job Description:\\n\" + $('Loop Over Items2').item.json.description + \"\\n\\nResume:\\n\" + $('Collect CV+HASH').item.json.cv_text}] }}"
            },
            {
              "name": "reasoning_effort",
              "value": "medium"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        720
      ],
      "id": "b4e70914-ba57-44ee-8573-41e3a28e7c8e",
      "name": "AI: Scoring + Cover Letter",
      "retryOnFail": true,
      "maxTries": 5,
      "notesInFlow": false,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MYj8pFQQPJjRtGbA",
          "mode": "list",
          "cachedResultUrl": "/workflow/MYj8pFQQPJjRtGbA",
          "cachedResultName": "LinkedIn Scraping Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -816,
        800
      ],
      "name": "Call LinkedIn Scraping Sub-Workflow",
      "id": "34dd7a46-80f7-4c09-b7d0-a72414e69ee0",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BEVslujoGyV7YQ6V",
          "mode": "list",
          "cachedResultUrl": "/workflow/BEVslujoGyV7YQ6V",
          "cachedResultName": "RemoteOK Scraping Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "_firstItem": "={{ $('Extract Keywords').first()?.json }}"
          },
          "matchingColumns": [
            "_firstItem"
          ],
          "schema": [
            {
              "id": "_firstItem",
              "displayName": "_firstItem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -816,
        608
      ],
      "name": "Call RemoteOK Scraping Sub-Workflow",
      "id": "038b3b83-c0dc-4033-9203-3766aa9e9e37",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.LLM_MODEL }}"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "=messages",
              "value": "={{ [{\"role\":\"system\",\"content\":\"You are a technical recruiter with expertise in software engineering hiring. Always respond with valid JSON only.\"},{\"role\":\"user\",\"content\":$('Build AI Prompt').first().json.prompt}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1856,
        608
      ],
      "id": "cbf14e42-4a4c-484c-a38e-d5ad526f0468",
      "name": "AI: Generate Keywords",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsCode": "const cvText = $('Collect CV+HASH').first().json.cv_text;\nconst promptTemplate = $('Read Keywords Prompt').first().json.param;\n\nconst prompt = `${promptTemplate}\n\nCV:\n${cvText}`;\n\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        608
      ],
      "id": "021e61e8-666d-4479-8b4f-ac863547c5b7",
      "name": "Build AI Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/api/jobs/filtered",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Loop Over Items2').item.json.id }}"
            },
            {
              "name": "title",
              "value": "={{ $('Loop Over Items2').item.json.title }}"
            },
            {
              "name": "company",
              "value": "={{ $('Loop Over Items2').item.json.company }}"
            },
            {
              "name": "location",
              "value": "={{ $('Loop Over Items2').item.json.location }}"
            },
            {
              "name": "applylink",
              "value": "={{ $('Loop Over Items2').item.json.applylink }}"
            },
            {
              "name": "description",
              "value": "={{ $('Loop Over Items2').item.json.description }}"
            },
            {
              "name": "website",
              "value": "={{ $('Loop Over Items2').item.json.website }}"
            },
            {
              "name": "easy_apply",
              "value": "={{ $('Loop Over Items2').item.json.easy_apply }}"
            },
            {
              "name": "score",
              "value": "={{ $('Parse AI Response').item.json.score }}"
            },
            {
              "name": "application_document",
              "value": "={{ $('Parse AI Response').item.json.coverLetter }}"
            },
            {
              "name": "ai_status",
              "value": "fit"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1712,
        960
      ],
      "id": "530ec07e-c062-4181-8d02-3430d7b6c1ca",
      "name": "Add Job to Filtered Jobs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/api/jobs/filtered",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Loop Over Items2').item.json.id }}"
            },
            {
              "name": "title",
              "value": "={{ $('Loop Over Items2').item.json.title }}"
            },
            {
              "name": "company",
              "value": "={{ $('Loop Over Items2').item.json.company }}"
            },
            {
              "name": "location",
              "value": "={{ $('Loop Over Items2').item.json.location }}"
            },
            {
              "name": "applylink",
              "value": "={{ $('Loop Over Items2').item.json.applylink }}"
            },
            {
              "name": "description",
              "value": "={{ $('Loop Over Items2').item.json.description }}"
            },
            {
              "name": "website",
              "value": "={{ $('Loop Over Items2').item.json.website }}"
            },
            {
              "name": "easy_apply",
              "value": "={{ $('Loop Over Items2').item.json.easy_apply }}"
            },
            {
              "name": "score",
              "value": "={{ $('Parse AI Response').item.json.score }}"
            },
            {
              "name": "application_document",
              "value": "={{ $('Parse AI Response').item.json.coverLetter }}"
            },
            {
              "name": "ai_status",
              "value": "not_fit"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        832
      ],
      "id": "3c301e5f-fc0c-480d-9582-8ec2e55a1461",
      "name": "Add Job to Filtered Jobs1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://python-api:8001/api/email/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={{ $json.recipientEmail }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "body",
              "value": "={{ $json.emailBody }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        672
      ],
      "id": "4141109f-cd05-4b38-8f07-7a0a462ffceb",
      "name": "Send Email",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get description from the loop item\nconst description = $('Wait2').item.json.description || '';\n\n// Regex patterns to detect email-based application instructions\n// These are intentionally broad — false positives are OK since\n// the second LLM call will confirm before sending anything\nconst emailPatterns = [\n  /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/, // any email address present\n  /send.*?(cv|resume|application)/i,                  // \"send your CV/resume\"\n  /apply.*?(email|mailto)/i,                          // \"apply via email\"\n  /email.*?(cv|resume|application|us|your)/i,         // \"email us your CV\"\n  /careers@|jobs@|hr@|recruitment@|hiring@/i,         // common HR email prefixes\n  /to apply.*?email/i,                                // \"to apply, email...\"\n  /submit.*?(cv|resume).*?to/i,                       // \"submit your CV to...\"\n];\n\n// Check if any pattern matches — returns true on first match\nconst hasEmailHint = emailPatterns.some(p => p.test(description));\n\n// Pass through all existing fields + add the hint flag\nreturn [{\n  json: {\n    has_email_hint: hasEmailHint\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        704
      ],
      "id": "56a22d1d-5d0c-401a-8548-adb7d0fd4311",
      "name": "Check email in description"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.has_email_hint }}",
              "rightValue": "={{ $env.FILTERING_SCORE }}"
            },
            {
              "id": "65216e2f-f931-4288-ac7e-fe1645dd525b",
              "leftValue": "={{ $env.AUTO_EMAIL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "afd33435-88db-49b5-a622-c0a4a7e7ce8d",
      "name": "Email Applicable",
      "type": "n8n-nodes-base.if",
      "position": [
        976,
        704
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.LLM_MODEL }}"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "=messages",
              "value": "={{ [{\"role\":\"system\",\"content\":\"You are an expert job application assistant.\\n\\nGiven a job description and a cover letter, your task is to:\\n1. Determine if the job requires applying via email (look for explicit instructions like 'send CV to', 'apply by emailing', 'email your application', or any application email address)\\n2. If yes, extract the recipient email address and generate a professional application email\\n3. If no genuine application email instruction exists, return hasApplicationEmail=false\\n\\nRULES:\\n- Only return hasApplicationEmail=true if there is a CLEAR instruction to apply via email\\n- Do not confuse contact emails or company emails with application emails\\n- The email body must be professional, concise, and based on the cover letter provided\\n- The email body should mention that CV is attached - do not repeat full CV content\\n- Email body must be in ENGLISH\\n- Email body must be strictly less than 1500 characters\\n- Subject format must be: 'Application for {Job Title} - {Sender Name}'\\n- Structure the email with proper paragraphs separated by \\\\n\\\\n\\n- Format: greeting \\\\n\\\\n opening paragraph \\\\n\\\\n skills paragraph \\\\n\\\\n closing paragraph \\\\n\\\\n sign-off\\n- Each paragraph must be 2-3 sentences maximum\\n- Use \\\\n\\\\n between paragraphs only\\n\\nRESPOND WITH RAW JSON ONLY. No markdown, no code blocks, no explanation.\\nFormat: {\\\"hasApplicationEmail\\\":<bool>,\\\"recipientEmail\\\":\\\"<string or null>\\\",\\\"subject\\\":\\\"<string or null>\\\",\\\"emailBody\\\":\\\"<string or null>\\\"}\\nIf hasApplicationEmail=false: {\\\"hasApplicationEmail\\\":false,\\\"recipientEmail\\\":null,\\\"subject\\\":null,\\\"emailBody\\\":null}\"},{\"role\":\"user\",\"content\":\"Job Description:\\n\" + $('Wait2').item.json.description + \"\\n\\nCover Letter:\\n\" + $('Parse AI Response').item.json.coverLetter + \"\\n\\nJob Title: \" + $('Wait2').item.json.title + \"\\nCompany: \" + $('Wait2').item.json.company + \"\\nSender Name: \" + $env.SENDER_NAME}] }}"
            },
            {
              "name": "reasoning_effort",
              "value": "medium"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        688
      ],
      "id": "bba0e422-cf39-48da-808f-3139eeefb7c0",
      "name": "AI: Extract mail + Generate",
      "retryOnFail": true,
      "maxTries": 5,
      "notesInFlow": false,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content\n  .replace(/^```json\\n?/, '')\n  .replace(/^```\\n?/, '')\n  .replace(/```$/, '')\n  .trim();\n\n// parse directly — the LLM returned valid pretty-printed JSON\nconst parsed = JSON.parse(raw);\n\nreturn {\n  json: {\n    hasApplicationEmail: parsed.hasApplicationEmail,\n    recipientEmail: parsed.recipientEmail ?? null,\n    subject: parsed.subject ?? null,\n    emailBody: parsed.emailBody ?? null,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        688
      ],
      "id": "2b614fdc-ee20-4ad7-afb5-9573aec798c4",
      "name": "Parse AI Response2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.hasApplicationEmail }}",
              "rightValue": "={{ $env.FILTERING_SCORE }}"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "577a7530-d622-40b9-89e1-0edaed08fed3",
      "name": "Email Applicable1",
      "type": "n8n-nodes-base.if",
      "position": [
        1440,
        688
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ID }}",
        "text": "=Email has been sent to {{ $('Parse AI Response2').item.json.recipientEmail }} \nFor title: {{ $('Loop Over Items2').item.json.title }}\nwith link:\n{{ $('Loop Over Items2').item.json.applylink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        928
      ],
      "id": "c3f0bfdd-ea05-4452-8527-cbdb98b84bde",
      "name": "Send a text message1",
      "webhookId": "73e91537-234f-4d9d-bae7-5e0e9a053262",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "8zpim5pMCfhjpg8H",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/api/jobs/filtered",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Loop Over Items2').item.json.id }}"
            },
            {
              "name": "title",
              "value": "={{ $('Loop Over Items2').item.json.title }}"
            },
            {
              "name": "company",
              "value": "={{ $('Loop Over Items2').item.json.company }}"
            },
            {
              "name": "location",
              "value": "={{ $('Loop Over Items2').item.json.location }}"
            },
            {
              "name": "applylink",
              "value": "={{ $('Loop Over Items2').item.json.applylink }}"
            },
            {
              "name": "description",
              "value": "={{ $('Loop Over Items2').item.json.description }}"
            },
            {
              "name": "website",
              "value": "={{ $('Loop Over Items2').item.json.website }}"
            },
            {
              "name": "easy_apply",
              "value": "={{ $('Loop Over Items2').item.json.easy_apply }}"
            },
            {
              "name": "score",
              "value": "={{ $('Parse AI Response').item.json.score }}"
            },
            {
              "name": "application_document",
              "value": "={{ $('Parse AI Response').item.json.coverLetter }}"
            },
            {
              "name": "ai_status",
              "value": "fit"
            },
            {
              "name": "user_status",
              "value": "email_sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        656
      ],
      "id": "71ca9f4c-ace7-42ce-80ec-6416bc2d89be",
      "name": "Add Job to Filtered Jobs2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c8ea4c0-5f7f-45f8-a074-103831ccc785",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1744,
        672
      ],
      "id": "bb80ca3d-ee3d-4773-bd27-6c6b80c7a864",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Score Filter": {
      "main": [
        [
          {
            "node": "Check email in description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Job to Filtered Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CV": {
      "main": [
        [
          {
            "node": "Hash The CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash The CV": {
      "main": [
        [
          {
            "node": "Collect CV+HASH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect CV+HASH": {
      "main": [
        [
          {
            "node": "Check Existing CV in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing CV in DB": {
      "main": [
        [
          {
            "node": "If CV Changed ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CV Changed ?": {
      "main": [
        [
          {
            "node": "Read Keywords Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Saved Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Keywords Prompt": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Keywords to DB": {
      "main": [
        [
          {
            "node": "Get Saved Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Keywords": {
      "main": [
        [
          {
            "node": "Save Keywords to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saved Keywords": {
      "main": [
        [
          {
            "node": "Extract Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keywords": {
      "main": [
        [
          {
            "node": "Call LinkedIn Scraping Sub-Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call RemoteOK Scraping Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Get Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Jobs": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "AI: Scoring + Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "AI: Scoring + Cover Letter": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LinkedIn Scraping Sub-Workflow": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call RemoteOK Scraping Sub-Workflow": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Generate Keywords": {
      "main": [
        [
          {
            "node": "Parse Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "AI: Generate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Job to Filtered Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Job to Filtered Jobs1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check email in description": {
      "main": [
        [
          {
            "node": "Email Applicable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Applicable": {
      "main": [
        [
          {
            "node": "AI: Extract mail + Generate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Job to Filtered Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Extract mail + Generate": {
      "main": [
        [
          {
            "node": "Parse AI Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response2": {
      "main": [
        [
          {
            "node": "Email Applicable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Applicable1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Job to Filtered Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Job to Filtered Jobs2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add Job to Filtered Jobs2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Job to Filtered Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eeafc3b8-f844-4200-b6aa-5b6692745f35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f07661684dfc4d1e6e6b7510d0c2f6c7ed427caa9513d3f8978a8a16bf5ddf9"
  },
  "id": "o4amlq7ljPVLNNWA",
  "tags": []
}