workflows/Scraping Main Workflow.json
{
  "name": "Scraping Main Workflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1499f1ac-a7ae-4983-85c7-aa7b8445b2e2",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $('Parse AI Response').item.json.score }}",
              "rightValue": "={{ $env.FILTERING_SCORE }}"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c58506dd-269f-4091-bf19-314bba0b5817",
      "name": "Score Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        1472,
        688
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "http://python-api:8001/api/cv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3424,
        688
      ],
      "id": "96bcd4ce-f73e-48dc-922f-7529e67ccd91",
      "name": "Read CV"
    },
    {
      "parameters": {
        "value": "={{ $('Read CV').first().json.cv_text }}",
        "dataPropertyName": "cv_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        -3232,
        688
      ],
      "id": "e06664bd-9317-4bc7-9ef1-942ac8027faa",
      "name": "Hash The CV"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    cv_hash: $input.first().json.cv_hash,\n    cv_text: $('Read CV').first().json.cv_text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        688
      ],
      "id": "32da9c31-6340-4c59-a0b7-7861518ff4e9",
      "name": "Collect CV+HASH"
    },
    {
      "parameters": {
        "url": "=http://python-api:8001/api/cv/check/{{ $json.cv_hash }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2784,
        688
      ],
      "id": "c7c426c8-b359-48d2-8e2d-64a7c2af2724",
      "name": "Check Existing CV in DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "347e0f5e-579f-48ec-9d10-516fb8bb0c53",
              "leftValue": "={{ $json.exists}}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2560,
        688
      ],
      "id": "53af36b7-6c4d-48ae-8de4-ea3e5718c7be",
      "name": "If CV Changed ?"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/api/params/llm_keywords_extract",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2336,
        608
      ],
      "id": "27d74c11-c2fe-4569-932a-34f20e179e10",
      "name": "Read Keywords Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/api/cv/keywords",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "INSERT OR REPLACE INTO cv_keywords (id, cv_hash, keywords) VALUES (1, ?, ?)"
            },
            {
              "name": "cv_hash",
              "value": "={{ $('Collect CV+HASH').first().json.cv_hash }}"
            },
            {
              "name": "keywords",
              "value": "={{ $('Parse Keywords').first().json.keywords_str }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1440,
        608
      ],
      "id": "40780562-8db9-44f0-9cf3-c548a1979d31",
      "name": "Save Keywords to DB"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst keywords = JSON.parse(content);\n\nreturn [{ \n  json: { \n    keywords,\n    keywords_str: JSON.stringify(keywords)\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        608
      ],
      "id": "293ea444-c98c-46c3-ae47-59556fefe6c0",
      "name": "Parse Keywords"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/api/cv/keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -992,
        688
      ],
      "id": "61d30ae8-ab78-47b2-b554-5172cdc901b4",
      "name": "Get Saved Keywords"
    },
    {
      "parameters": {
        "jsCode": "const row =$input.first().json.keywords ;\nconst keywords = JSON.parse(row);\n\nreturn [{\n  json: {\n    keywords,\n    keywords_str: row\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        688
      ],
      "id": "1278a09b-f115-42a5-bd31-afc14b2c55a5",
      "name": "Extract Keywords"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1216,
        688
      ],
      "id": "ddcc9680-4798-4520-b720-25a6003a6429",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_DB_URL }}",
          "mode": "url"
        },
        "title": "=Fetch NO. {{ $('Schedule Trigger').item.json['Readable date'] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $('Loop Over Items2').item.json.title }}"
            },
            {
              "key": "Score|number",
              "numberValue": "={{ $('Parse AI Response').item.json.score }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ $('Loop Over Items2').item.json.applylink }}"
            },
            {
              "key": "Date|date",
              "date": "={{ $('Schedule Trigger').item.json.timestamp }}"
            },
            {
              "key": "Cover Letter|rich_text",
              "textContent": "={{ $('Parse AI Response').item.json.coverLetter }}"
            },
            {
              "key": "Website|rich_text",
              "textContent": "={{ $('Loop Over Items2').item.json.website }}"
            },
            {
              "key": "Company|rich_text",
              "textContent": "={{ $('Loop Over Items2').item.json.company }}"
            },
            {
              "key": "Location|rich_text",
              "textContent": "={{ $('Loop Over Items2').item.json.location }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1696,
        752
      ],
      "id": "b2f3aa38-45a2-4b17-8fe1-b6f654849789",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "9PknBjmF6BGHvFNE",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3648,
        688
      ],
      "id": "1b3124d3-0119-4b71-8421-0abc3e695b70",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -320,
        688
      ],
      "id": "eddf103a-4e7a-4fbf-b460-de4b4fcf2b34",
      "name": "Merge2"
    },
    {
      "parameters": {
        "url": "http://python-api:8001/api/jobs/pending",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        688
      ],
      "id": "1a8f8f70-cf65-4ea7-a57d-7dc3c8ee81eb",
      "name": "Get Pending Jobs"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rows",
        "options": {}
      },
      "id": "45be7328-9a06-4af2-b32d-fb0e288bd9db",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        128,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "fdf19a8f-df55-455f-a595-ad33d778143c",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        352,
        688
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8001/api/jobs/job/complete",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jobid",
              "value": "={{ $('Loop Over Items2').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        608
      ],
      "id": "c1fa7fa3-fbb6-4ec1-8c19-2822697d442a",
      "name": "Add to Seen Jobs Table"
    },
    {
      "parameters": {
        "jsCode": "// Strip markdown code blocks if present\nconst raw = $input.first().json.choices[0].message.content\n  .replace(/^```json\\n?/, '')\n  .replace(/^```\\n?/, '')\n  .replace(/```$/, '')\n  .trim();\n\n// Remove control characters before parsing\nconst cleaned = raw.replace(/[\\x00-\\x1F\\x7F]/g, (char) => {\n  if (char === '\\n') return '\\\\n';\n  if (char === '\\r') return '\\\\r';\n  if (char === '\\t') return '\\\\t';\n  return '';\n});\n\nconst parsed = JSON.parse(cleaned);\n\nreturn {\n  score: parsed.score,\n  coverLetter: parsed.coverLetter\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        608
      ],
      "id": "d60226fd-d0c6-4f85-b3db-adc49a59a9f1",
      "name": "Parse AI Response"
    },
    {
      "parameters": {},
      "id": "39c409d9-3b3c-40b0-a166-68e11b940e38",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        576,
        608
      ],
      "webhookId": "c9cb4878-ae4d-4b8e-bd37-5395011f7761",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ID }}",
        "text": "=Jobs are ready and scored at {{ $env.NOTION_DB_URL }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        416
      ],
      "id": "56ddad98-3dfb-4ba6-9be1-eed6c2b2c7c4",
      "name": "Send a text message",
      "webhookId": "73e91537-234f-4d9d-bae7-5e0e9a053262",
      "credentials": {
        "telegramApi": {
          "id": "8zpim5pMCfhjpg8H",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        576,
        416
      ],
      "id": "846f561a-e6d2-41b4-8d71-88a8ca521ef5",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.LLM_MODEL }}"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "=messages",
              "value": "={{ [{\"role\":\"system\",\"content\":\"You are an expert job matcher. Today: \" + $('Schedule Trigger').item.json['Readable date'] + \".\\n\\nGiven a resume and job description:\\n1. Extract candidate's total years of professional experience using today's date\\n2. Extract required years from job description\\n3. Compare required vs actual: skills and experience\\n4. Score 0-100 using these STRICT rules:\\n\\nEXPERIENCE GATE (absolute, checked first):\\n- If candidate has 3 or more fewer years than required: score=0, coverLetter=\\\"\\\", stop here\\n- If candidate has 1-2 fewer years than required: small penalty only\\n- Meets or exceeds: no penalty\\n\\nSKILLS SCORING (only if gate passed):\\n- Each required skill present: positive\\n- Each required skill missing: negative\\n- Nice-to-have skills present: small bonus\\n\\n5. If score>\" + $env.FILTERING_SCORE + \", write a 2-paragraph professional cover letter (no name/address/signature). The cover letter MUST be strictly less than 1900 characters total. Otherwise coverLetter=\\\"\\\"\\n\\nRESPOND WITH RAW JSON ONLY. No markdown, no code blocks, no explanation, no newlines inside strings.\\nFormat: {\\\"score\\\":<number>,\\\"coverLetter\\\":\\\"<string>\\\"}\\nIf job description is empty/invalid: {\\\"score\\\":0,\\\"coverLetter\\\":\\\"\\\"}\"},{\"role\":\"user\",\"content\":\"Job Description:\\n\" + $json.description + \"\\n\\nResume:\\n\" + $('Collect CV+HASH').item.json.cv_text}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        608
      ],
      "id": "b4e70914-ba57-44ee-8573-41e3a28e7c8e",
      "name": "AI: Scoring + Cover Letter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MYj8pFQQPJjRtGbA",
          "mode": "list",
          "cachedResultUrl": "/workflow/MYj8pFQQPJjRtGbA",
          "cachedResultName": "LinkedIn Scraping Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -544,
        784
      ],
      "name": "Call LinkedIn Scraping Sub-Workflow",
      "id": "34dd7a46-80f7-4c09-b7d0-a72414e69ee0"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BEVslujoGyV7YQ6V",
          "mode": "list",
          "cachedResultUrl": "/workflow/BEVslujoGyV7YQ6V",
          "cachedResultName": "RemoteOK Scraping Sub-Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "_firstItem": "={{ $('Extract Keywords').first()?.json }}"
          },
          "matchingColumns": [
            "_firstItem"
          ],
          "schema": [
            {
              "id": "_firstItem",
              "displayName": "_firstItem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -544,
        592
      ],
      "name": "Call RemoteOK Scraping Sub-Workflow",
      "id": "038b3b83-c0dc-4033-9203-3766aa9e9e37"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $env.LLM_MODEL }}"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "=messages",
              "value": "={{ [{\"role\":\"system\",\"content\":\"You are a technical recruiter with expertise in software engineering hiring. Always respond with valid JSON only.\"},{\"role\":\"user\",\"content\":$('Build AI Prompt').first().json.prompt}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1888,
        608
      ],
      "id": "cbf14e42-4a4c-484c-a38e-d5ad526f0468",
      "name": "AI: Generate Keywords"
    },
    {
      "parameters": {
        "jsCode": "const cvText = $('Collect CV+HASH').first().json.cv_text;\nconst promptTemplate = $('Read Keywords Prompt').first().json.param;\n\nconst prompt = `${promptTemplate}\n\nCV:\n${cvText}`;\n\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        608
      ],
      "id": "021e61e8-666d-4479-8b4f-ac863547c5b7",
      "name": "Build AI Prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "Score Filter": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CV": {
      "main": [
        [
          {
            "node": "Hash The CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash The CV": {
      "main": [
        [
          {
            "node": "Collect CV+HASH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect CV+HASH": {
      "main": [
        [
          {
            "node": "Check Existing CV in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing CV in DB": {
      "main": [
        [
          {
            "node": "If CV Changed ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CV Changed ?": {
      "main": [
        [
          {
            "node": "Read Keywords Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Keywords Prompt": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Keywords to DB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Keywords": {
      "main": [
        [
          {
            "node": "Save Keywords to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saved Keywords": {
      "main": [
        [
          {
            "node": "Extract Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keywords": {
      "main": [
        [
          {
            "node": "Call LinkedIn Scraping Sub-Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call RemoteOK Scraping Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Saved Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Get Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Jobs": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Seen Jobs Table": {
      "main": [
        [
          {
            "node": "Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Add to Seen Jobs Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "AI: Scoring + Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Scoring + Cover Letter": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LinkedIn Scraping Sub-Workflow": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call RemoteOK Scraping Sub-Workflow": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Generate Keywords": {
      "main": [
        [
          {
            "node": "Parse Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "AI: Generate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f94e9c24-c467-4711-859e-05991f1a7281",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f07661684dfc4d1e6e6b7510d0c2f6c7ed427caa9513d3f8978a8a16bf5ddf9"
  },
  "id": "o4amlq7ljPVLNNWA",
  "tags": []
}